li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.nav-tabs {
  padding-left: 15px !important;
}

.bounding_box {
  background-color: #F5F5F5;
  border-radius: 25px;
  padding:20px;
  margin:20px;
}

.bounding_box_nocol {
  border-radius: 25px;
  padding:10px;
  margin:0px;
}

.vbox {
  border-radius: 1rem;

}

.value-box-value {
  color: #FFFFFF; !important
}

.value-box-area {
  text-align: center !important;
}

.value-box-title {
  font-size: 12px !important;
  text-align: center !important;
  text-wrap: wrap;
}

.navbar-inverse {
  color: #FFFFFF !important;
  background-color: #045273 !important;
}

.navbar-default li active {
  background-color: #045273 !important;
}